main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    padding: clamp(1rem, 8vw, 4rem)
}

button.beige{
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    font-weight: 700;
    height: fit-content;
    transition: 250ms;
}

button.beige:hover{
    background-color: rgba(255, 255, 255, 0.15);
    font-weight: 700;
    box-shadow: 0 0 25px 10px var(--darkBeige);
    transition: 250ms;
}

.light{
    color: var(--gray);
}

a.register-link{
    text-decoration: underline;
}