header{
    position: relative;
}

h1{
    padding-top: 2.4rem;
    margin: 0;
    text-align: center;
}

h1 + hr{
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
}

button.beige{
    transition: 250ms;
    margin: 0 auto;
}

.scrollable-area .noReviewsDiv{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.container{
    max-width: 1633px;
    display: flex;
    flex-direction: column-reverse;
    gap: 3.6rem;
    justify-content: space-between;
    align-items: flex-start; 
}

.write-review-yourself{
    width: fit-content;
    margin: 0 auto;
}

.review-cards{
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    margin: 0 auto;
    max-width: 100%;
}

.review-cards .review-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--bg);
    box-shadow: 0 4px 4px 0 var(--blackshadow);
    padding: 1.6rem;
    border-radius: 1.2rem;
    margin: 0 auto;
    overflow: hidden;
    width: 30rem;
    min-width: 30rem;
    max-width: 40rem;
    scroll-snap-align: center;
}

.review-card div:nth-child(1){
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.review-cards h2{
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.review-cards h2+hr{
    margin-bottom: 2.4rem;
}

.review-cards .review-card img{
    width: 90%;
    border-radius: 1rem;
}

#seeAllReviews{
    margin: 0 auto;
}

.review-cards .scrollable-area{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    max-height: 66vh;
    padding: 2.4rem;
    align-items: center;
    overflow-x: auto;

    max-width: 100%;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
}

.review-cards .scrollable-area::-webkit-scrollbar{
    display: none
}

.review-cards .button{
    width: 100%;
    display: flex;
}


.filter-options{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.filter-options .filter-option{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.6rem;
} 

.review-card .right-side p:nth-last-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.review-card .right-side img.scoreReview{
    width: 4rem;
}

.review-card .right-side{
    width: 100%;
}

.filter-options{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    gap: 1.6rem;
}

.review-card .right-side img.scoreReview.not-okay{
    filter: invert(100%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
    transition: all 350ms;
}
.review-card .right-side img.scoreReview.okay{
    filter: invert(100%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-140deg) saturate(600%) contrast(0.8);
    transition: all 350ms;
}

.review-card .right-side img.scoreReview.satisfied{
    filter: invert(100%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-240deg) saturate(600%) contrast(0.8);
    transition: all 350ms;
}
.review-card .right-side img.scoreReview.very-satisfied{
    filter: invert(100%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-270deg) saturate(600%) contrast(0.8);
    transition: all 350ms;
}

@media screen and (min-width: 850px) {
    .review-cards .scrollable-area{
        flex-wrap: wrap;
        overflow-y: auto;
        overflow-x: unset;
        background-size: 200%;
        border-radius: 2.4rem;
    }
    .review-cards .scrollable-area::-webkit-scrollbar{
        display: block;
    }
    .review-cards .scrollable-area::-webkit-scrollbar-thumb{
        border-radius: 5rem;
    }
    .review-cards .scrollable-area::-webkit-scrollbar-track{
        border-radius: 5rem;
    }
}

@media screen and (min-width: 1280px) {
    .filter-options{
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        padding: 2.4rem;
    }

    select.button{
        padding: .25rem .5rem
    }
    
    .container{
        flex-direction: row-reverse;
        padding: clamp(1rem, 8vw, 4rem);
        justify-content: center;
    }

    .write-review-yourself h1{
        margin-top: 0;
    }
    .review-card .right-side p:nth-last-child(1){
        justify-content: flex-start;
    }
    .review-cards hr{
        position: absolute;
        z-index: -1;
        visibility: hidden;
    }

    .review-cards h2{
        width: 100%;
    }

    .review-cards{
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 105rem;
        height: 100%;
        justify-content: center;
    }

    .review-cards .review-card{
        width: 30rem;
        height: fit-content;
        margin: 0;
        align-items: flex-start;
    }

    .review-cards .review-card p{
        align-items: flex-start;
        text-align: start;
    }

    .review-cards .review-card img{
        width: 100%;
    }

    #backToReview{
        margin: 0;
        width: fit-content;
        justify-self: flex-start;
    }

    button.beige{
        transition: 250ms;
    }

    button.beige:hover{
        background-color: rgba(255, 255, 255, 0.15);
        box-shadow: 0 0 25px 10px var(--darkBeige);
        transition: 250ms;
    }
}